<h2>Our home</h2>

<img src="~/images/homepagepic.jpg"  width="100%" height="100%"/>
<hr />
<center>Copyright &copy; Srinivas @DateTime.Now.Year. All Rights Reserved!!!</center>

<table border='1'>
    <tr>
    <th>Category <th />
    <th>0-9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>10-21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>21 Above</th>
    </tr>
    <tr><td>Fees</td>
    <td  />
    <td>{feesCollectedBelow10}</td>
    <td>{feesCollectedBelow22}</td>
    <td>{feesCollected22Above}</td>
        </tr>
    <tr>
    <td>Consultations</td>
    <td/<td>{numOfConsultationsBelow10}</td><td>{numOfConsultationsBelow22}</td><td>{numOfConsultations22Above}</td></tr></table>